<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_id</key>
	<string>BLHZI4FXBK1YNK1BGRY3G1FFDIW4LERB4MPZ1KKOALX1EEIA</string>
	<key>client_secret</key>
	<string>AV4H3LMUOIFVXLO3QVXPZU2QJEXDBZFYARMSWIPMOK0XGC3R</string>
</dict>
</plist>
